<h1 style = text-align:center> [윤형이의 페이지] 글을 쓸꺼야! </h1>
<form action = "/posts/create" method="post" >
    <p> 제목 </p>
    <input type = "text" name = "input_time">
    <p> 내용 </p>
    <input type="text" name = "input_content">
    <p> 제출 </p>
    <input type = "submit">
    
</form>